@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}

body {
    background-size: cover;
    background-image: url('/images/bg-wave.jpg');
    background-repeat: no-repeat;
    background-position: cover bottom;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
  }
  
  .d-img img {
    filter: brightness(50%);
    
  }
  .d-img {
    display: flex;
    max-width: 100%;
  }
  
  .d-contact a {
    color: white;
  }
  
  .d-contact a:hover {
    color: gray;
  }
  
  .d-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(48, 70, 89, 0.50);
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 50vh;
  
  }


  .h-bar {
    width: 25%;
    margin-bottom: 1em;
  }


  .d-social i {
    font-size: 2em;
   
  }

  .social-icon {
    margin-right: 1em;
  }

  .icon {
    margin-right: 5px;
  }

  .d-header {
    height: 50vh;
  }

  .h-contact {
    font-size: calc(32px + 1.70vw);
    margin-bottom: 0;
    color:#8394AA;
    
  }

  .h-sub {
    font-size: calc(18.72px + 0.20vw);
    text-align: center;
    color:white;
    margin: 5px;;
  }